<div class="panel panel-default">
  <div class="panel-body">
    <div class="row">
      <div class="col-md-4">
        <div style="width:450px;height:650px">
          <%= image_tag(@movie.image, style:'width:100%;height:100%') %>
        </div>
      </div>
      <div class="col-md-7 col-md-offset-1">
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th style="width: 25%"></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><strong>Título:</strong></td>
                <td><%= @movie.title %></td>
              </tr>
              <tr>
                <td><strong>Sinopse:</strong></td>
                <td><%= @movie.synopsis %></td>
              </tr>
              <tr>
                <td><strong>Duração:</strong></td>
                <td><%= @movie.length %></td>
              </tr>
              <tr>
                <td><strong>Diretor:</strong></td>
                <td><%= @movie.director %></td>
              </tr>
              <tr>
                <td><strong>Gênero(s):</strong></td>
                <td><%= @movie.genre %></td>
              </tr>
              <tr>
                <td><strong>Classificação:</strong></td>
                <td><%= @movie.rating %></td>
              </tr>
              <tr>
                <td><strong>Data de lançamento:</strong></td>
                <td><%= @movie.release_date %></td>
              </tr>
            </tbody>
          </table>
          <%= link_to "Escrever uma análise", new_movie_review_path(@movie) %>
        </div>
      </div>
    </div>
    <div class="row-md-offset-3">
      <div><h3>Análises</h3></div>
      <% if @reviews.blank? %>
        <h3>Sem análises</h3>
        <%= link_to "Escrever análise", new_movie_review_path(@movie), class: "btn btn-danger" %>
      <% else %>
        <% @reviews.each do |review| %>
          <div class="reviews">
            <small class="author">Análise feita por: <%= review.user.name %></small></p>
            <p>Nota: <%= review.score %></p>
            <p><%= review.comment %></p>
            <% if user_signed_in?%>
              <% if current_user.admin? -%>
                <% if review.user == current_user -%>
                  <div class="btn-group">
                    <%= link_to 'Editar', edit_movie_review_path(@movie, review.id), class: "btn btn-default" %>
                    <%= link_to 'Deletar', movie_review_path(@movie, review.id), data: {:confirm => "Tem certeza?"}, :method => :delete, class: "btn btn-default" %>
                  </div>
                <% else %>
                  <div class="btn-group">
                    <%= link_to 'Deletar', movie_review_path(@movie, review.id), data: {:confirm => "Tem certeza?"}, :method => :delete, class: "btn btn-default" %>
                  </div>
                <% end %>
              <% elsif review.user == current_user -%>
  	           <div class="btn-group">
  		             <%= link_to 'Editar', edit_movie_review_path(@movie, review.id), class: "btn btn-default" %>
                   <%= link_to 'Deletar', movie_review_path(@movie, review.id), data: {:confirm => "Tem certeza?"}, :method => :delete, class: "btn btn-default" %>
  	           </div>
              <% end %>
            <% end %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

<%if user_signed_in? %>
  <% if current_user.admin? %>
    <%= link_to 'Editar', edit_movie_path(@movie), class: "btn btn-default" %> |
    <%= link_to 'Voltar', movies_path, class: "btn btn-default" %> |
    <%= link_to 'Deletar', movie_path(@movie), data: {:confirm => "Tem certeza?"}, :method => :delete, class: "btn btn-default" %>
  <% else %>
    <%= link_to 'Voltar', movies_path, class: "btn btn-default" %>
  <% end %>
<% else %>
  <%= link_to 'Voltar', movies_path, class: "btn btn-default" %>
<% end %>
