<%= form_with(model: game, local: true) do |form| %>
  <% if game.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(game.errors.count, "error") %> prohibited this game from being saved:</h2>

      <ul>
      <% game.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :título %><br>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :descrição %><br>
    <%= form.text_field :description %>
  </div>

  <div class="field">
    <%= form.label :desenvolvedora %><br>
    <%= form.text_field :developer %>
  </div>

  <div class="field">
    <%= form.label raw("Gênero(s)") %><br>
    <%= form.text_field :genre %>
  </div>

  <div class="field">
    <%= form.label :publisher %><br>
    <%= form.text_field :publisher %>
  </div>

  <div class="field">
    <%= form.label :data_de_lançamento %><br>
    <%= form.text_field :release_date %>
  </div>

  <div class="field">
    <%= form.label raw("Plataforma(s)") %><br>
    <%= form.text_field :platform %>
  </div>

  <div class="field">
    <%= form.label :classificação %><br>
    <%= form.text_field :rating %>
  </div>

  <div class="field">
    <%= form.label :imagem %><br>
    <%= form.file_field :image, required: true %>
  </div>

  <div class="actions">
    <%= form.submit raw("Criar/Atualizar Jogo") %>
  </div>
<% end %>
