<%= form_for([@game, @review_game]) do |form| %>
  <% if review_game.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(review_game.errors.count, "error") %> prohibited this review_game from being saved:</h2>

      <ul>
      <% review_game.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :Nota %><br>
    <%= form.number_field :rating %>
  </div>

  <div class="field">
    <%= form.label :Análise %><br>
    <%= form.text_area :comment %>
  </div>

  <div class="actions">
    <%= form.submit raw("Criar/Atualizar Análise") %>
  </div>
<% end %>
